<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Notification for late student</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style type="text/css">
        body {
            background-color: #00C4FF;
        }
    </style>
</head>

<body>
    <div class="mt-4 container-fluid" style="max-width: 900px; margin: 100 auto; border: 100">
        <h2 class="text-center">Notification for late student</h2>

        <a th:href="@{'/latestudent/' + ${examSchedule[0].course.courseId}}">
            <button type="button" class="btn btn-primary">
                Back 
            </button>

        </a>
        <!--Late Message-->
        <div>
            <h2 class="h2" th:text="'Student Name: ' + ${studentInfo.studentName}"></h2>
            <div class="mt-4 d-flex justify-content-between">
                <div class="m-4 w-25">
                    <h5>Student Message :</h5>
                    <div class="border border-primary border-4 bg-white">
                        <p class="text-justify" th:text="'Email :'+${studentInfo.email}" />
                        <p class="text-justify" th:text="${lateMessage[0]}" />

                    </div>
                </div>
                <div class="m-4 w-25">
                    <h5>Academic Advisor Message :</h5>
                    <div class="border border-secondary border-4 bg-white">
                        <p class="text-justify" th:text="'Email :'+${studentInfo.academicAdvisor.email}" />
                        <p class="text-justify" th:text="${lateMessage[1]}" />

                    </div>
                </div>
                <div class="m-4 w-25">
                    <h5>Teaching Lecturer Message :</h5>
                    <div class="border border-secondary border-4 bg-white">
                        <p class="text-justify" th:text="'Email :'+${matchingSubject.teachingLecturer.email}" />
                        <p class="text-justify" th:text="${lateMessage[2]}" />

                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="" th:unless="${lateMessage.le() > 0}">
            <span>No record found!</span>
        </div> -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>

</html>